body{
    font-family: "Impact"
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




html, body {
  width: 100%;
  height: 100%;
}

#lista{
list-style: disc;
  color: black; /* kropki dziedziczą kolor tekstu */
  text-align: center;
  list-style: disc inside;
}

.obrazek-gora {
  min-height: 100px;
  background-image: url("Copilot_20251218_101223.png");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tlo1 {
  min-height: 100vh;
 background: linear-gradient( #4f4f4f, #a28c5d);
  
}
.tekst1{
  color: #efebda;
  text-shadow: 0 0 10px #efebda;
  font-size:40px;
  text-align: center;
  letter-spacing:2px;

  


}

.tlo-mapa{
  min-height: 100vh;
 background: linear-gradient( #4f4f4f, #a28c5d);
  
}

.zarzad-tlo{

  min-height: 100vh;
 background: linear-gradient( #4f4f4f, #a28c5d);
}



p{
  padding-left:10px;
}

#item{
  background-color:#efebda;
  display:inline;
  text-decoration: none;
  margin-right: 10%;
  padding:10px;
  border-radius:10px;
  letter-spacing:2px;
  cursor:pointer;
  font-size:30px;
  
  
}

#item2{
  background-color:#FF7459;
  display:inline;
  text-decoration: none;
  margin-right: 10%;
  padding:10px;
  border-radius:10px;
  letter-spacing:2px;
  cursor:pointer;
  font-size:30px;
      box-shadow:
    0 0 5px #FF7459,
    0 0 10px #FF7459,
    0 0 20px #FF7459;
  transition: 0.3s;
  
}

#item3{
  background-color:#6392F7;
  display:inline;
  text-decoration: none;
  margin-right: 10%;
  padding:10px;
  border-radius:10px;
  letter-spacing:2px;
  cursor:pointer;
  font-size:30px;
    box-shadow:
    0 0 5px #6392F7,
    0 0 10px #6392F7,
    0 0 20px #6392F7;
  transition: 0.3s;
  
  
}
#item:hover, #item2:hover, #item3:hover{
  background-color:#a28c5d;
    box-shadow:
    0 0 0px black,
    0 0 0px black,
    0 0 0px black;
  transition: 0.3s;
  transition-duration:0.3s;
  
}
#srodek{
    text-align: center;
  
}






#przycisk{
  text-decoration:none;
  color:black;
  
}

#srodek-obraz{
   display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#ul {
  list-style: none;
  padding: 15;
  margin: 0;
  justify-content: center;
  display: flex;
}

/* tło menu */
#pasek {
  background-color: #4f4f4f; /* kolor tła całego menu */
  display: flex;
  list-style: none;
  padding: 30;
  margin: 0;
  justify-content: center;
}
